anaconda-navigator==2.6.3
pkce==1.0.3
w3lib==2.1.2
conda-token==0.6.0
pyasn1==0.4.8
multidict==6.0.4
async-lru==2.0.4
h5py==3.11.0
python-slugify==5.0.2
streamlit-folium==0.25.3
black==24.8.0
ply==3.11
uri-template==1.3.0
factor_analyzer==0.5.1
aext-toolbox==4.20.0
SQLAlchemy==2.0.34
rfc3339-validator==0.1.4
appnope==0.1.3
aext-share-notebook==4.20.0
executing==0.8.3
panel==1.5.2
docstring-to-markdown==0.11
text-unidecode==1.3
mlx-metal==0.31.1
tornado==6.4.1
lazy_loader==0.4
matplotlib==3.9.2
nbconvert==7.16.4
tldextract==5.1.2
transformers==5.12.1
fqdn==1.5.1
decorator==5.1.1
Sphinx==7.3.7
conda-package-handling==2.3.0
lckr_jupyterlab_variableinspector==3.1.0
traitlets==5.14.3
hvplot==0.11.0
zstandard==0.23.0
numpy==2.2.6
mdit-py-plugins==0.3.0
nest-asyncio==1.6.0
aext-core-server==4.20.0
ujson==5.10.0
jaraco.classes==3.2.1
scikit-surprise==1.1.5
powerlaw==2.0.0
pyodbc==5.1.0
multipledispatch==0.6.0
Markdown==3.4.1
jsonschema-specifications==2023.7.1
pandocfilters==1.5.0
ptyprocess==0.7.0
outcome==1.3.0.post0
mdurl==0.1.0
sphinxcontrib-devhelp==1.0.2
service-identity==18.1.0
pyobjc-core==10.1
isoduration==20.11.0
trio-websocket==0.12.2
PyYAML==6.0.1
torchaudio==2.9.0
nltk==3.9.1
queuelib==1.6.2
unicodedata2==15.1.0
wandb==0.28.0
gensim==4.3.3
tinycss2==1.2.1
scipy==1.13.1
jupyterlab==4.2.5
scikit-learn==1.5.1
GitPython==3.1.43
notebook==7.2.2
toml==0.10.2
folium==0.20.0
anaconda-client==1.13.0
filelock==3.13.1
python-dotenv==0.21.0
ruamel.yaml.clib==0.2.8
geopandas==1.1.1
retrying==1.4.2
cookiecutter==2.6.0
pytest==7.4.4
dash==3.3.0
webencodings==0.5.1
colorama==0.4.6
click==8.4.2
PyDispatcher==2.0.5
coverage==7.13.1
python-lsp-jsonrpc==1.1.2
smart-open==5.2.1
numpydoc==1.7.0
intervaltree==3.1.0
Pygments==2.15.1
optuna==4.9.0
pathspec==0.10.3
itemadapter==0.3.0
hf-xet==1.4.3
PyWavelets==1.7.0
python-json-logger==2.0.7
jupyter_server_terminals==0.4.4
ftfy==6.3.1
autopep8==2.0.4
tomlkit==0.11.1
astropy==6.1.3
defusedxml==0.7.1
typer==0.9.0
Box2D==2.3.10
stack-data==0.2.0
mypy==1.11.2
requests==2.32.3
xlwings==0.32.1
datashader==0.16.3
semver==3.0.2
Werkzeug==3.0.3
spyder-kernels==2.5.0
openpyxl==3.1.5
pickleshare==0.7.5
cloudpickle==3.0.0
Jinja2==3.1.4
Rtree==1.0.1
rpds-py==0.10.6
pytoolconfig==1.2.6
inflection==0.5.1
locket==1.0.0
libmambapy==1.5.8
msgpack==1.0.3
bleach==4.1.0
aiohttp==3.10.5
aext-assistant-server==4.20.0
conda-pack==0.7.1
yarl==1.11.0
contourpy==1.3.3
tqdm==4.66.5
aext-assistant==4.20.0
parso==0.8.3
six==1.16.0
seaborn==0.13.2
frozendict==2.4.2
mypy-extensions==1.0.0
pandas==2.2.2
Farama-Notifications==0.0.4
plotly==5.24.1
wheel==0.44.0
gitdb==4.0.7
surprise==0.1
aiohappyeyeballs==2.4.0
pyasn1-modules==0.2.8
noisereduce==3.0.3
kiwisolver==1.4.4
ipython==8.27.0
greenlet==3.0.1
aext-core==4.20.0
jupyter-console==6.6.3
trio==0.33.0
QtPy==2.4.1
joblib==1.4.2
hyperlink==21.0.0
dask==2024.8.2
zict==3.0.0
packaging==24.1
Unidecode==1.3.8
asttokens==2.0.5
isort==5.13.2
overrides==7.4.0
sklearn-crfsuite==0.5.0
pkginfo==1.10.0
itsdangerous==2.2.0
ruamel-yaml-conda==0.17.21
pytz==2024.1
annotated-types==0.6.0
aext_environments_server==4.20.0
PySocks==1.7.1
shapely==2.1.2
rich==13.7.1
s3fs==2024.6.1
Babel==2.11.0
Faker==40.19.1
dmglib==0.9.5
psutil==5.9.0
docstring_parser==0.18.0
fsspec==2024.6.1
readchar==4.0.5
openai-whisper==20250625
python-crfsuite==0.9.12
pyct==0.5.0
jupyter-events==0.10.0
jsonpatch==1.33
argon2-cffi==21.3.0
mlx-whisper==0.4.3
partd==1.4.1
tifffile==2023.4.12
anaconda-project==0.11.1
fonttools==4.51.0
anaconda-anon-usage==0.4.4
pyobjc-framework-FSEvents==10.1
gymnasium==1.2.1
anaconda-cli-base==0.5.2
applaunchservices==0.3.0
tzdata==2023.3
jupyter-lsp==2.2.0
numba==0.60.0
PyQt5==5.15.10
box2d-py==2.3.8
param==2.1.1
sip==6.7.12
httpcore==1.0.9
regex==2026.6.28
wurlitzer==3.0.2
pyls-spyder==0.4.0
markdown-it-py==2.2.0
lazy-object-proxy==1.10.0
pyviz_comms==3.0.2
ruamel.yaml==0.18.6
debugpy==1.6.7
pyproj==3.7.2
pydantic-settings==2.6.1
jellyfish==1.0.1
jupyterlab-widgets==1.0.0
cffi==1.17.1
pycodestyle==2.11.1
intake==2.0.7
jsonschema==4.23.0
linkify-it-py==2.0.0
qtconsole==5.5.1
sphinxcontrib-applehelp==1.0.2
pyparsing==3.1.2
widgetsnbextension==3.6.6
webcolors==25.10.0
platformdirs==3.10.0
nbformat==5.10.4
python-lsp-black==2.0.0
aioitertools==0.7.1
arrow==1.2.3
pylint-venv==3.0.3
RapidFuzz==3.14.5
comm==0.2.1
pyogrio==0.12.1
youtube-transcript-api==1.2.4
imageio==2.33.1
appdirs==1.4.4
alabaster==0.7.16
sympy==1.14.0
threadpoolctl==3.5.0
watchdog==4.0.1
wrapt==1.14.1
atomicwrites==1.4.0
protobuf==4.25.3
sphinxcontrib-jsmath==1.0.1
pycparser==2.21
constantly==23.10.4
tiktoken==0.12.0
frozenlist==1.4.0
diff-match-patch==20200713
jedi==0.19.1
PyQtWebEngine==5.15.6
jupyter_core==5.7.2
safetensors==0.8.0
pure-eval==0.2.2
truststore==0.8.0
conda-content-trust==0.2.0
pycurl==7.45.3
jmespath==1.0.1
aiobotocore==2.12.3
nb_conda_kernels==2.5.2
parsel==1.8.1
lz4==4.3.2
soupsieve==2.5
prompt-toolkit==3.0.43
cycler==0.11.0
bokeh==3.6.0
conda-build==24.9.0
pyobjc-framework-CoreServices==10.1
chardet==4.0.0
certifi==2026.6.17
python-lsp-server==1.10.0
torchvision==0.24.0
rope==1.12.0
itemloaders==1.1.0
h11==0.16.0
holoviews==1.19.1
colorcet==3.1.0
mlx==0.31.1
tblib==1.7.0
iniconfig==1.1.1
matplotlib-inline==0.1.6
pylint==2.16.2
fastjsonschema==2.16.2
sentencepiece==0.2.1
requests-file==1.5.1
selenium==4.45.0
pydantic_core==2.20.1
notebook_shim==0.2.3
blinker==1.6.2
terminado==0.17.1
tenacity==8.2.3
statsmodels==0.14.2
python-dateutil==2.9.0.post0
colorlog==6.10.1
mpmath==1.3.0
ipython-genutils==0.2.0
jupyter_client==8.6.0
altair==5.0.1
jupyter_server==2.14.1
anthropic==0.112.0
ipywidgets==7.8.1
xyzservices==2022.9.0
mccabe==0.7.0
sortedcontainers==2.4.0
cssselect==1.2.0
editdistpy==0.2.0
sphinxcontrib-htmlhelp==2.0.0
charset-normalizer==3.3.2
aext-share-notebook-server==4.20.0
Automat==20.2.0
psycopg2-binary==2.9.12
menuinst==2.1.2
binaryornot==0.4.4
shellingham==1.5.0
pyzmq==25.1.2
mistune==2.0.4
Brotli==1.0.9
jupyter==1.0.0
numexpr==2.8.7
symspellpy==6.9.0
typing_extensions==4.15.0
pycosat==0.6.6
zipp==3.17.0
navigator-updater==0.5.1
imagesize==1.4.1
sphinxcontrib-qthelp==1.0.3
aext-project-filebrowser-server==4.20.0
jupyterlab_server==2.27.3
appscript==1.2.5
qstylizer==0.2.2
PyQt5-sip==12.13.0
pexpect==4.8.0
incremental==22.10.0
yapf==0.40.2
smmap==4.0.0
imagecodecs==2023.1.23
PyJWT==2.8.0
ipykernel==6.28.0
pip==24.2
idna==3.7
bcrypt==3.2.0
Bottleneck==1.3.7
distributed==2024.8.2
streamlit==1.37.1
dill==0.3.8
Flask==3.0.3
pygame==2.6.1
cmake==4.1.0
networkx==3.3
sphinxcontrib-serializinghtml==1.1.10
cytoolz==0.12.2
astroid==2.14.2
archspec==0.2.3
scikit-image==0.24.0
distro==1.9.0
wcwidth==0.2.5
docutils==0.18.1
pluggy==1.6.0
pydocstyle==6.3.0
cornac==2.5.0
tables==3.10.1
pillow==10.4.0
pyerfa==2.0.1.4
rfc3986-validator==0.1.1
attrs==26.1.0
tomli==2.0.1
conda_index==0.5.0
keyring==24.3.1
flake8==7.0.0
conda-repo-cli==1.0.114
dask-expr==1.1.13
jsonpointer==2.1
requests-toolbelt==1.0.0
pyobjc-framework-Cocoa==10.1
Twisted==23.10.0
referencing==0.30.2
imbalanced-learn==0.12.3
conda_package_streaming==0.10.0
httpx==0.27.0
snowballstemmer==2.2.0
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
py-cpuinfo==9.0.0
lmdb==1.4.1
pydeck==0.8.0
urllib3==2.7.0
sniffio==1.3.0
branca==0.8.2
Protego==0.1.16
pyarrow==16.1.0
jupyterlab-pygments==0.1.2
pydantic==2.8.2
huggingface_hub==1.11.0
et-xmlfile==1.1.0
conda-libmamba-solver==24.9.0
QtAwesome==1.3.1
botocore==1.34.69
whatthepatch==1.0.2
sentence-transformers==5.6.0
anaconda-auth==0.8.5
wsproto==1.3.2
json5==0.9.6
pyOpenSSL==24.2.1
tokenizers==0.22.2
lxml==5.2.1
toolz==0.12.0
more-itertools==10.3.0
libarchive-c==5.1
aext-shared==4.20.0
anaconda-catalogs==0.2.0
Mako==1.2.3
Scrapy==2.11.1
spyder==5.5.1
bnlp_toolkit==4.4.1
aiosignal==1.2.0
anyio==4.2.0
nbclient==0.8.0
zope.interface==5.4.0
aext-panels-server==4.20.0
prometheus-client==0.14.1
setuptools==75.1.0
beautifulsoup4==4.12.3
HeapDict==1.0.1
three-merge==0.1.1
MarkupSafe==2.1.3
astropy-iers-data==0.2024.9.2.0.33.23
patsy==0.5.6
conda==24.11.3
cryptography==43.0.0
jiter==0.15.0
emoji==2.15.0
boltons==23.0.0
uc-micro-py==1.0.1
QDarkStyle==3.2.3
pytest-cov==7.0.0
torch==2.9.0
textdistance==4.2.1
pyflakes==3.2.0
tabulate==0.9.0
aext-panels==4.20.0
cachetools==5.3.3
importlib-metadata==7.0.1
alembic==1.13.3
llvmlite==0.43.0
xarray==2023.6.0
sentry-sdk==2.18.0
websocket-client==1.8.0
jaraco.text==3.12.1
jaraco.collections==5.1.0
importlib_metadata==8.0.0
jaraco.functools==4.0.1
packaging==24.1
jaraco.context==5.3.0
inflect==7.3.1
autocommand==2.2.2
backports.tarfile==1.2.0
typeguard==4.3.0
wheel==0.43.0
zipp==3.19.2
importlib_resources==6.4.0
tomli==2.0.1
typing_extensions==4.12.2
more-itertools==10.3.0
platformdirs==4.2.2
